<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Listado de clientes - Administrador</title>
<link rel="stylesheet" type="text/css" href="/gestion-crud/recursos/css/estilos.css">
</head>
<body>

	<h1>Lista de clientes de la tabla "cliente"</h1>

	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Accion 1</th>
				<th>Accion 2</th>
			<tr />
		</thead>
		<tbody>
			<tr th:each="cliente: ${clientes}">
				<td th:text="${cliente.id}" />
				<td th:text="${cliente.nombre}" />
				<td th:text="${cliente.apellido}" />
				<td th:text="${cliente.email}" />
				<td><a th:href="@{/administrador/formularioActualizacion(id=${cliente.id})}">Actualizar</a></td>
				<td><a th:href="@{/administrador/eliminarCliente(id=${cliente.id})}"
					onclick="if(!confirm('¿Desea eliminar el registro seleccionado?')) return false">Eliminar</a></td>
			</tr>
		</tbody>
	</table>

	<br><br>
	<button onclick="window.location.href='formularioRegistro'">Agregar cliente</button>

	<br><br>

	<a href="/gestion-crud/cliente/lista">Volver a la vista de cliente</a>

</body>
</html>