<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de clientes</title>
</head>
<body>

	<h1>Lista de clientes de la tabla "cliente"</h1>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			<tr />
		</thead>
		<tbody>
			<tr th:each="cliente: ${clientes}">
				<td th:text="${cliente.id}" />
				<td th:text="${cliente.nombre}" />
				<td th:text="${cliente.apellido}" />
				<td th:text="${cliente.email}" />
			</tr>
		</tbody>
	</table>

</body>
</html>