<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de clientes</title>
<link rel="stylesheet" type="text/css" href="/gestion-crud/recursos/css/estilos.css">
</head>
<body>

	<h1>Lista de clientes de la tabla "cliente"</h1>

	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			<tr />
		</thead>
		<tbody>
			<tr th:each="cliente: ${clientes}">
				<td th:text="${cliente.id}" />
				<td th:text="${cliente.nombre}" />
				<td th:text="${cliente.apellido}" />
				<td th:text="${cliente.email}" />
			</tr>
		</tbody>
	</table>

	<br><br>

	<form action="/gestion-crud/logout" method="POST">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		<input type="submit" value="Logout"/>
	</form>

</body>
</html>